
body {
    width: 100%;
    height: auto;
    background-color: #eeeeee;
}

.navbar {
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
    width: 100%;
    height: 95px;
    background-color: #34495e;
}

.dropbutton {
    background-color: #34495e;
    border: none;
    color: #FFFF;
    font-size: 25px;
    font-size: 'Times New Roman', Times, serif;
    font-style: bold;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ddd;}
.dropdown:hover .dropdown-content {display: block;}

.meniu {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    text-decoration: none;
    width: 100%;
    color: #FFFF;
    font-size: 25px;
    font-size: 'Times New Roman', Times, serif;
font-weight: bold;
    cursor: pointer;
}

img {
    width: 100%;
    height: 850px;
}

.content {
    display: flex;
    background-color: #2980b9;
    width: 100%;
}
.text {
    width: 100%;
    display: flex;
    align-items: center;
}

p {
    columns: 3;
    color: #FFFF;
    font-size: 25px;
    width: 100%;
    font-size: 'Times New Roman', Times, serif;
    font-style: bold;
}

.consultanta {
    background-color: red;
    color: white;
    border: none;
    border-radius: 12px;
    font-size: 15px;
    font-size: 'Times New Roman', Times, serif;
    cursor: pointer;
    font-weight: bold;
    width: 155px;
    height: 45px;
}

.consultanta:hover {
    background-color: black;
    color: orange;
    font-weight: bold;
}

h1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footer {
     display: flex;
     flex-direction: row;
     justify-content: center;
     background-color: #34495e;
}

.about, .navigare .contact .newsletter {
    padding: 12px;
}

h3 {
    color: #FFFF;
    font-size: 20px;
    font-size: 'Times New Roman', Times, serif;
    font-weight: bold;
}

span {
    color: #ffff;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}

a {
    text-decoration: none;
    color: darkgoldenrod;
    padding: 25px;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
}

a:hover{
    color: black;
    cursor: pointer;
    font-size: 30px;
}

.form {
    border-radius: 12px;
    font-size: 18px;
    color: darkgoldenrod;
    padding: 12px;
    margin-left: 12px;
}

.submit {
    background-color: red;
    border-radius: 12px;
    width: 155px;
    height: 65px;
    border: none;
    margin-top: 12px;
    margin-left: 52px;
    cursor: pointer;
}
